// CurrencyConverter.module.scss

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; // делает контейнер на весь экран, это можно изменить в соответствии с вашими потребностями
    background-color: #f4f7fa; // светло-серый фон, дает нейтральный вид
    font-family: 'Arial', sans-serif; // простой, читаемый шрифт
  
    h2 {
      margin-bottom: 20px;
      color: #333333;
    }
  
    h3 {
      margin-top: 20px;
      color: #333333;
    }
  }
  
  .input,
  .select {
    padding: 10px 15px;
    margin-bottom: 20px; // небольшое пространство между элементами формы
    border: 1px solid #d1d1d1; // небольшая граница вокруг поля ввода и выбора, чтобы они выделялись
    border-radius: 5px; // слегка скругленные углы делают элементы более современными и приятными для глаз
    font-size: 16px; // немного крупнее, чтобы облегчить чтение и ввод
    color: #333333; // темный текст на светлом фоне для читаемости
  
    &:focus {
      outline: none; // убирает стандартную рамку при фокусировке
      border-color: #a5a5a5; // делает границу немного темнее при фокусе
    }
  
    // Используется, если вы хотите иметь разные стили для input и select
    &.input {
      // индивидуальные стили для поля ввода
    }
  
    &.select {
      // индивидуальные стили для выбора
      cursor: pointer; // делает очевидным, что это выбор, с указателем в виде руки
    }
  }
  